body {
    //font-family: 'Droid Sans', sans-serif;
    font-family: galdeano;
    //font-family: Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 24px;
}

.title {
    font-family: "Electrolize", sans-serif;
}
