<!DOCTYPE html>
<html>
  <head>
    <title>crackcell's wiki</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- JavaScript plugins (requires jQuery) -->
    <script src="static/js/jquery-1.10.2.min.js"></script>

    <style type="text/css">
      #footer {
        color: #666;
        height: 26px;
        background: #f0f0f0;
        text-align: center;
        display: block;
        font-size: 11px;
        padding-top: 5px;
      }
    </style>
  </head>
  <body>

    <div id="footer" class="footer">
      &copy; Copyright 2013 by <a href="http://blog.crackcell.com/">crackcell</a>.
    </div>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="static/js/bootstrap.min.js"></script>
  </body>
</html>

