<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title><TMPL_VAR NAME=TITLE> - crackcell's dustbin</title>
    <meta name="author" content="crackcell" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="<TMPL_VAR NAME=DESCRIPTION>" />
    <meta name="keywords" content="搜索引擎,信息检索,机器学习,数据挖掘,search engine,information retrieval,machine learning,data mining <TMPL_VAR NAME=KEYWORDS>">
    <!-- Homepage CSS -->
    <link rel="stylesheet" href="/static/css/screen.css" type="text/css" media="screen, projection" />
    <!-- Customized CSS -->
    <link rel="stylesheet" href="/static/css/mystyle.css" type="text/css" media="screen, projection" />
    <!-- Org-mode CSS -->
    <link rel="stylesheet" href="/static/org-mode/org-mode.css" type="text/css" media="screen, projection" />
    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono|Galdeano' rel='stylesheet' type='text/css'>
  </head>
  <body>

    <div class="site">
      <div id="post">
        <h1><TMPL_VAR NAME=TITLE></h1>
        <p class="meta"><TMPL_VAR NAME=DATE></p>
        <p style="color:#cccccc; font-size:12px;">/* -*- author: Tan Menglong; email: tanmenglong_at_gmail; twitter/weibo: @crackcell; 转载请注明出处 -*- */</p>
        <TMPL_VAR ESCAPE=0 NAME=CONTENT>

          <!--
              <div id="related">
                <h2>Related Posts</h2>
                <ul class="posts">
                  <li><span>03 May 2011</span> &raquo; <a href="/2011/05/03/rejected-bio-from-the-setup.html">Rejected Bio from The Setup</a></li>
                  <li><span>29 Mar 2011</span> &raquo; <a href="/2011/03/29/ten-lessons-from-githubs-first-year.html">Ten Lessons from GitHub's First Year</a></li>
                  <li><span>11 Dec 2010</span> &raquo; <a href="/2010/12/11/designer-architect-developer.html">Designer, Architect, Developer</a></li>
                </ul>
              </div>    
              -->


          <div id="copyright">&copy Tan Menglong</div> 

      </div>

      <!--
          <a href="http://bitbucket.org/crackcell"><img style="position: absolute; top: 0; right: 0; border: 0;" src="img/fork_me_bitbucket.png" alt="Fork me on Bitbucket" /></a>
          -->

      <!-- MathJax to support LaTeX -->
      <script type="text/javascript"
              src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>

  </body>

</html>

